{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block body %}
<style>
    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid black;
    }
</style>
<div>
    <h1>Panneau d'administration</h1>

    <h2>Liste des utilisateurs : </h2>
    <ul>
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Date d'inscription</th>
                <th>Role</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registerDate }}</td>
                    <td>{{ user.role }}</td>
                </tr>
            {% endfor %}
        </table>

    </ul>
</div>
{% endblock %}
