{% extends 'base.html.twig' %}

{% block title %}Series
{% endblock %}

{% block body %}
	<div class="">
		<div class="container mx-auto py-8">
			<h1 class="text-4xl text-center text-white font-bold mb-12">Series</h1>
            {% include 'series/_show_series.html.twig' with { 
                'user': user,
                'app_action' : app_action,
                'param_action' : {},
                'pagination' : pagination,
                }
            %}
        </div>
    </div>
{% endblock %}
